@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); 

:root {
    /* Кольори */
    --color-orange: #FB8F1D;
    --color-dark:#202336;
    --color-gray:#4A4C53;
    --color-white:#FFFFFF

    /* Шрифти та їх розміри */
    --font-family-h: "Playfair Display";

    --font-size-h1: 64px;
    --font-size-h2: 36px;

    /* Розміри сайту */
    --width: 100%;
    --width-header: 1415px;
    --width-explore: 1242px;
    --width-dest: 1239px;
    --width-guides: 1205.57px;
    --width-test: 1180px;
    --width-stories: 1222px;
    --height: 5588px;
    --height-header: 786px;
    --height-explore: 550px;
    --height-dest: 532px;
    --height-guides: 542px;
    --height-test: 615.98px;
    --height-stories:684px;
    --height-footer: 482px;

}