<app-header></app-header>

<div class="profile-menu">
  <a
    routerLink="/classes"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
  >
    Класи
  </a>
  <a
    routerLink="/array-one"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
  >
    Одновимірний масив
  </a>
  <a
    routerLink="/array-two"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
  >
    Двовимірний масив
  </a>
</div>
<router-outlet></router-outlet>
